.full-navigation-wrapper {
  transition: all 0.5s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  opacity: 0.8;
  z-index: 101;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  > .close {
    transition: all 0.5s;

    position: absolute;
    color: #818181;
    right: 4%;
    top: 4%;
    font-size: 56px;
    &:hover {
      color: #fff;
    }
  }

  > .overlay-content {
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > a {
      font-size: 48px;
      color: #818181;
      margin-bottom: 12px;
      &:hover {
        color: #ffffff;
      }
    }
  }
  &.hidden{
    width: 0;
  }
}