.accordion-wrapper{
  >.accordion{
    background: #CCCCCC;
    padding: 16px 8px;
    cursor: pointer;
  }
  >.panel{
    transition: all 0.5s;
    overflow: hidden;
    padding: 0 12px;
    height: 0;
    &.active{
    }
  }
}