.login-form{
  border: 1px solid red;
  >.imageContainer{
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    >.closeIcon{
      line-height: 40px;
      font-size: 40px;
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
    }
  }
}