.slideShow-wrapper {
  position: relative;
  max-width: 1000px;
  user-select: none;

  > .slideshow {
    display: none;
    animation: fadeIn 0.4s;
    > .numberText {
      color: #f2f2f2;
      padding: 4px 8px;
      position: absolute;
    }

    > .text {
      color: #f2f2f2;
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.active {
      display: block;
    }
  }

  > .previous, .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    color: white;
    font-size: 24px;
    user-select: none;
    padding: 16px;

    &:hover {
      background: #0B0B0C;
    }
  }

  > .next {
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}