.slideShow-wrapper{
  position: relative;
  max-width: 1000px;
  >.slideshow{
    >.numberText{
      color: #f2f2f2;
      padding: 4px 8px;
      position: absolute;
    }
    >.text{
      color: #f2f2f2;
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}