.popup{
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #29adbf;
  >.popupText{
    text-align: center;
    background: #555555;
    visibility: hidden;
    color: white;
    border-radius: 4px;
    padding: 4px;
    min-width: 160px;
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-left: -80px;
    &:before{
      content: "";
      position: absolute;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
      left: 50%;
      top: 100%;
    }
    &.visible{
      animation: fadeIn 0.5s;
      visibility: visible;
    }
  }
}
@keyframes fadeIn{
  from{opacity: 0}
  to{opacity: 1}
}
